LOG_LEVEL=DEBUG
REDIS_URL=redis://localhost:6379
TELEGRAM_TOKEN=1234567890:abcdefghijklmnopqrstuvwxyz
TELEGRAM_CHAT_ID=-0987654321
TELEGRAM_CHANNEL_ID=-0987654321
TELEGRAM_READ_TIMEOUT=30
TELEGRAM_WRITE_TIMEOUT=30
TELEGRAM_CONNECT_TIMEOUT=10
RSS_URL=https://yande.re
RSS_THRESHOLD=40
